{
  "all": false,
  "check-coverage": true,
  "include": ["src/**/*.ts"],
  "exclude": ["build/**", "test/**"],
  "report-dir": "./coverage",
  "temp-dir": "./coverage/.nyc_output",
  "extension": [
    ".ts",
    ".tsx"
  ],
  "require": [
    "ts-node/register"
  ],
  "reporter": [
    "text-summary",
    "html"
  ],
  "sourceMap": true,
  "instrument": true,
  "excludeNodeModules": false,
  "branches": 30,
  "lines": 30,
  "functions": 30,
  "statements": 30
}
